{
    "plugins": ["prettier-plugin-svelte"],
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "proseWrap": "preserve",
    "insertPragma": false,
    "printWidth": 80,
    "requirePragma": false,
    "tabWidth": 4,
    "useTabs": false,
    "embeddedLanguageFormatting": "auto",
	"svelteBracketNewLine": false,
    "svelteIndentScriptAndStyle": false
}