/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.theme-light,
.theme-dark {
    --pomodoro-timer-elapsed-color: var(--color-green);
    --pomodoro-timer-color: var(--text-faint);
    --pomodoro-timer-text-color: var(--text-normal);
    --pomodoro-timer-dot-color: var(--color-red);
}

.status-bar-item.plugin-pomodoro-timer {
    padding-top: 0;
    padding-bottom: 0;
}
